<div class="container nav-container">
    <a href="#" class="logo">
        {{ with .Site.Params.config.logo }}
            {{ $logo := partial "functions/resolve-image.html" (dict
                    "img" . "width" 41 "height" 41) }}
            <img src="{{ $logo.url }}" width="{{ $logo.width }}" height="{{ $logo.height }}" alt="{{ site.Title }} Logo">
        {{ end }}
        {{ upper site.Title }}
    </a>
    <nav class="nav-links">
        {{ range .Site.Menus.main }}
            {{ $name := upper .Name }}
            {{ $url := lower (.URL | default .Name) }}
            <a href="#{{ $url }}">{{ $name }}</a>
        {{ end }}
    </nav>
    <button class="theme-toggle" id="theme-toggle" aria-label="Toggle theme">
        <i id="theme-toggle-icon" class="fa-regular fa-xl fa-moon"></i>
    </button>
    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle menu">
        <i id="menu-toggle-icon" class="fa-solid fa-xl fa-bars-staggered"></i>
    </button>
</div>
