<!DOCTYPE html>
{{- .Store.Set "dateFormat" (printf "2006-01-02T15:04:05-07:00") }}
{{- $theme := .Site.Params.config.theme | default "auto" }}
{{- $dir := site.Language.LanguageDirection | default `ltr` }}
{{- $lang := (replace site.Language.LanguageCode "-" "_") | default `en_US` }}
<html lang="{{ $lang }}" dir="{{ $dir }}" data-theme="{{ $theme }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
        <title>
            {{ if .IsHome }}
                {{ printf "%s | %s" site.Title site.Data.sections.hero.tagline }}
            {{ else }}
                {{ printf "%s | %s" .Title site.Title }}
            {{ end }}
        </title>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header class="main-header">
            {{ partial "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="main-footer">
            {{ partial "footer.html" . }}
        </footer>
        {{ partialCached "head/js.html" . }}
    </body>
</html>
