{{ define "main" }}
    {{ $sections := .Site.Data.sections }}

    {{ with $sections.hero }}
        <section id="hero" class="section">
            {{ partial "utilities/hero.html" . }}
        </section>
    {{ end }}

    {{ with $sections.about }}
        <section id="about" class="section">
            {{ partial "utilities/about.html" . }}
        </section>
    {{ end }}

    {{ with $sections.expertise }}
        <section id="focus-areas" class="section">
            {{ partial "utilities/expertise.html" . }}
        </section>
    {{ end }}

    {{ with $sections.projects }}
        <section id="projects" class="section">
            {{ partial "utilities/projects.html" . }}
        </section>
    {{ end }}

    {{ with $sections.rssFeed }}
        <section id="blog" class="section">
            {{ partial "utilities/rss.html" . }}
        </section>
    {{ end }}

    {{ with $sections.services }}
        <section id="services" class="section">
            {{ partial "utilities/services.html" . }}
        </section>
    {{ end }}

    {{ with $sections.team }}
        <section id="team" class="section">
            {{ partial "utilities/team.html" . }}
        </section>
    {{ end }}

    {{ with $sections.contact }}
        <section id="contact" class="section">
            {{ partial "utilities/contact.html" . }}
        </section>
    {{ end }}

{{ end }}
