{{ $rssFeed := . }}
<div class="container">
    <div class="section-header">
        <h2 class="section-title">{{ title $rssFeed.title | default "Latest Blog Posts" }}</h2>
        <p>{{ $rssFeed.tagline }}</p>
    </div>
    <div class="grid">
        {{ with $rssFeed.url }}
            {{ $rssURL := printf "https://api.rss2json.com/v1/api.json?rss_url=%s" . }}
            {{ $feed := resources.GetRemote $rssURL | transform.Unmarshal }}
            {{ range first 3 $feed.items }}
                <a href="{{ .link }}" class="card blog-post" target="_blank" rel="noopener noreferrer">
                    {{ $dateHuman := .pubDate | dateFormat "Jan, 2006" }}
                    {{ $dateMachine := .pubDate | dateFormat (printf "%s" .Store.Get "dateFormat")}}
                    <time class="date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                    <h4>{{ title .title }}</h4>
                    <p>{{ .description | truncate 64 }}</p>
                </a>
            {{ else }}
                <p>No recent posts available.</p>
            {{ end }}
        {{ end }}
    </div>
</div>
